<div class="widget-wrapper">
  <div class="widget-header cap-action">
    <span class="name">社交</span>
  </div>
  <div class="widget-body">
    <a class="item" href="/friends/">
      <iconify-icon icon="fa6-solid:user-group" style="color: #4ccbf3; font-size: 1.2em; margin-right: 8px;"></iconify-icon>
      <span class="title">小伙伴们</span>
    </a>
    <a class="item" href="/about/">
      <iconify-icon icon="fa6-solid:comment-dots" style="color: #888; font-size: 1.2em; margin-right: 8px;"></iconify-icon>
      <span class="title">关于本站</span>
    </a>
  </div>
</div>